/* Author: Sebastian Aguirre Duque
E-mail: sadw621@gmail.com */

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  background-color: lightgray;
  padding: 15px;
}

.page-title {
  grid-column: 1/3;
  grid-row: 1/1;
  padding: 10px;
  text-justify: center;
}

.photo-az {
  grid-column: 1/3;
  grid-row: 2/2;
  background-color: white;
  padding: 10px;
  text-justify: center;
}

.biography-az {
  grid-column: 1/3;
  grid-row: 3/3;
  padding: 10px;
  text-justify: center;
}

.socialmedia-az {
  grid-column: 1/3;
  grid-row: 4/4;
  padding: 10px;
  text-justify: center;
}

.image {
  max-width: 640px;
  height: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.list-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font: size 36px;
  font-family: courier !important;
  font-weight: bold;
  text-align: center;
}

h2 {
  font: size 26px;
  font-family: courier !important;
  font-weight: bold;
  text-align: center;
}

h3 {
  font: size 26px;
  font-family: courier !important;
  font-weight: bold;
  text-align: center;
}

p {
  font: size 22px;
  font-family: helvetica !important;
  text-align: center;
}
